package ec.y{{YEAR}}

import kotlin.test.Test
import kotlin.test.assertEquals

class Quest{{NN}}Test {

    private val quest = Quest{{NN}}()

    @Test
    fun `part 1 sample`() {
        val sample = """
            REPLACE ME
        """.trimIndent()
        assertEquals("?", quest.part1(sample).toString())
    }

    @Test
    fun `part 2 sample`() {
        val sample = """
            REPLACE ME
        """.trimIndent()
        assertEquals("?", quest.part2(sample).toString())
    }

    @Test
    fun `part 3 sample`() {
        val sample = """
            REPLACE ME
        """.trimIndent()
        assertEquals("?", quest.part3(sample).toString())
    }
}
