package ec.y{{YEAR}}

import ec.Answer
import ec.Quest

class Quest{{NN}} : Quest {
    // Parse the raw text into a type for this quest first, then solve on that.
    override fun part1(input: String): Answer = TODO("quest {{NN}} part 1")
    override fun part2(input: String): Answer = TODO("quest {{NN}} part 2")
    override fun part3(input: String): Answer = TODO("quest {{NN}} part 3")
}
